@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --main-font-color: hsl(217, 19%, 35%);
  --text-color: hsl(214, 17%, 51%);
  --extra-bg-color: hsl(212, 23%, 69%);
  --bg-color: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 24px;
  color: var(--main-font-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-size: 13px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}
a{
  text-decoration: none;
}
/*HEADING*/
h1 {
  font-weight: 700;
  line-height: 36px;
}
p {
  color: var(--text-color);
}
.box {
  margin: 100px auto;
  max-width: 800px;
  max-height: 230px;
}
.box-container {
  background-color: #fff;
  display: flex;
  gap: 25px;
  border-radius: 8px;
}
.box-content {
  position: relative;
}
.box-content-text {
  padding: 15px 35px 25px 15px;
}
.box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-profile {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  position: relative;
  font-weight: 700;
}
.box-profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.profile-date {
  color: var(--extra-bg-color);
  position: absolute;
  bottom: -3px;
  left: 60px;
  font-weight: 500;
}
.box-social-media {
  background-color: var(--bg-color);
  padding: 5px 10px;
  border-radius: 100%;
  cursor: pointer;
}
.active {
  cursor: pointer;
  display: none;
  position: absolute;
  right: -70px;
  bottom: 90px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--main-font-color);
  width: 180px;
  height: 40px;
  border-radius: 8px;
  padding: 5px 30px;
  box-shadow: var(--extra-bg-color) 0px 8px 24px;
}
.active::after {
  position: absolute;
  bottom: -8px;
  left: 45%;
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--main-font-color);
  transform: rotate(45deg);
}

.active img {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0 10px;
}
.active a {
  display: inline-block;
  letter-spacing: 3px;
  color: var(--extra-bg-color);
}
